
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Other
.DS_Store
*.pem

# Unofficial
.idea

# Local Environment Variables
.env*.local
.env

# Firebase
# Ignores all files in the .firebase directory
/.firebase/
# Ignores all log files
*.log
# Ignores all cache files
*.cache
# Ignores all environment files
*.env
# Ignores emulators data
/emulators_data

# Misc
.npm
.eslintcache
.stylelintcache
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.vscode
chrome-extension/node_modules/
chrome-extension/.cursor/
